{% extends "index.html" %}

{% block header %}
    {% if form.__class__.__name__ not in ["select_table"]%}  
        <h1>{% block title %}{{form.__class__.__name__}}{% endblock %}</h1>
    {% endif %}
{% endblock %}

{% block content %}
<div class = "xxx">
    {% if form.__class__.__name__ == "Rezerwacja" %}

        <form method="POST" action="{{ url_for('rez') }}">
            {% for field in form %}
            {% if field.type != 'CSRFTokenField' and field.name != 'submit' %}
                {{ field.label() }}
                {{ field() }}
            {% endif %}
          {% endfor %}
        {{ form.submit }}
        </form>
    {% else %}
    <form method="POST" action="">
        {% for field in form %}
            {% if field.type != 'CSRFTokenField' and field.name != 'submit' %}
                {{ field.label() }}
                {{ field() }}
            {% endif %}
        {% endfor %}
        {{ form.submit }}
    </form>
 {% endif %}
    </div>
{% endblock %}