<!doctype html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Kino</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    <link
      href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <!--<link rel="stylesheet" type="text/css" href="../static/style.css">-->
    {% endblock %}
</head>
<body>
    <div id="container">
        <h1 id="tyt">Kino online</h1>
    <nav>

            {% block links %}

            <a href="{{ url_for('data') }}">Informacje</a>
            <a href="{{ url_for('repertuar') }}">Repertuar</a>
            {% if session.name =='admin' %}
            <a href="{{ url_for('add', form_name='none') }}">Dodaj</a>
            {% endif %}
            {% if not session.name %}
            <a href="{{ url_for('login') }}">Zaloguj się</a>
            {% endif %}
            {% if session.name and session.name !='admin'%}
            <a href="{{ url_for('rezerwacja') }}">Rezerwuj bilet</a>
            <a href="{{ url_for('bilet') }}">Moje rezerwacje</a>
                {% endif %}
                {% if session.name %}
            <a href="{{ url_for('wyloguj') }}">Wyloguj się</a>
                {% endif %}
            {% endblock %}
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% if message %} <h2>{{message}}</h2> {% endif %}
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
        </div>
</body>
