<!doctype html>
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>Kinga Miszczak Projekt</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
    {% endblock %}
</head>
<body>
    <nav>
        <h1>Kinga Miszczak - Projekt</h1>
        <ul>
            {% block links %}

            <li><a href="{{ url_for('data') }}">Informacje</a>
            <li><a href="{{ url_for('repertuar') }}">Repertuar</a>
            {% if session['username']=='admin' %}
            <li><a href="{{ url_for('add', form_name='none') }}">Dodaj</a>
            {% endif %}
            {% if not session['username'] %}
            <li><a href="{{ url_for('login') }}">Zaloguj się</a>
            {% endif %}
            {% if session['username'] and session['username']!='admin'%}
            <li><a href="{{ url_for('rezerwacja') }}">Rezerwuj bilet</a>
            <li><a href="{{ url_for('bilet') }}">Moje rezerwacje</a>
                {% endif %}
                {% if session['username'] %}
            <li><a href="{{ url_for('wyloguj') }}">Wyloguj się</a>
                {% endif %}
            {% endblock %}
        </ul>
    </nav>
    <section class="content">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% if message %} <h2>{{message}}</h2> {% endif %}
        {% for message in get_flashed_messages() %}
            <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
</body>
