{% extends "index.html" %}

{% block header %}
    {% if form.__class__.__name__ not in ["select_table"]%}
        <h1>{% block title %}Logowanie{% endblock %}</h1>
    {% endif %}
{% endblock %}
{% block content %}
    <form class="form-group" action="{{ url_for('login') }}" method="post">
        <label>Login</label>
        <input type="text"  name="login">
        <label>Hasło</label>
        <input type="password" name="haslo">
        <input type="submit" value="Zaloguj się">
    </form>
    <p>Nie masz konta? <a href="{{ url_for('add', form_name='Osoba') }}">Zarejestruj się</a></p>
  </div>
 </div>
 </body>
{% endblock %}