{% extends "index.html" %}

{% block header %}
    <h1>{% block title %}Menu{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST" action="{{ url_for('data', function='4') }}">
        <select name = "menu_form">
            {% for name in names %}
            <option value={{name[0]}}>{{name[1]}}</option>
             {% endfor %}
        </select>
        <button type="submit">Wybierz</button>
    </form>

    {% for o in select %}
    <p>{{o}}</p>
    {% endfor %}


{% endblock %}